# Dynamic Retirement Solution
* [**Setup**](#Setup): The imports and other setup
* [**Inputs**](#Inputs): The inputs of the model
* [**Salary**](#Salary): The calculation of salary using starting, and salary growth rate
* [**Wealth**](#Wealth): The calculation of wealth using salary, salary cutoff, savings rate, and interest rate

## Setup

In [44]:
import numpy_financial as npf
from dataclasses import dataclass

## Inputs

In [45]:
@dataclass
class ModelInputs:
    starting_salary: int = 50000
    salary_growth: float = .03
    mid_salary_cutoff: int = 80000
    high_salary_cutoff: int = 120000
    low_savings_rate: float = .1
    mid_savings_rate: float = .25
    high_savings_rate: float = .40
    interest_rate: float = .05
    desired_cash: int = 1500000
data = ModelInputs()

## Salary

In [46]:
def finding_salary(data, year):
    """
    This function finds the salary using year and growth rate"""
    salary = data.starting_salary
    return salary * (1 + data.salary_growth)**year

In [55]:
for i in range(20):
    year = i + 1
    salary = finding_salary(data, year)
    print(f'The salary at year {year} is ${salary:,.0f}.')

The salary at year 1 is $51,500.
The salary at year 2 is $53,045.
The salary at year 3 is $54,636.
The salary at year 4 is $56,275.
The salary at year 5 is $57,964.
The salary at year 6 is $59,703.
The salary at year 7 is $61,494.
The salary at year 8 is $63,339.
The salary at year 9 is $65,239.
The salary at year 10 is $67,196.
The salary at year 11 is $69,212.
The salary at year 12 is $71,288.
The salary at year 13 is $73,427.
The salary at year 14 is $75,629.
The salary at year 15 is $77,898.
The salary at year 16 is $80,235.
The salary at year 17 is $82,642.
The salary at year 18 is $85,122.
The salary at year 19 is $87,675.
The salary at year 20 is $90,306.

## Wealth

In [56]:
def salary_cutoff(data, salary):
    """
    The salary cutoff determines the percentage of money saved
    """
    mid_salary = data.mid_salary_cutoff
    high_salary = data.high_salary_cutoff
    if salary < mid_salary:
        return data.low_savings_rate
    elif mid_salary <= salary < high_salary:
        return data.mid_savings_rate
    else:
        return data.high_savings_rate

In [48]:
def find_cash_saved(data, year):
    salary = finding_salary(data, year)
    savings_rate = salary_cutoff(data, salary) 
    return salary * savings_rate

In [49]:
def finding_wealth(data, year, prior_wealth):
        cash_saved = find_cash_saved(data, year)
        return prior_wealth * (1 + data.interest_rate) + cash_saved

In [57]:
prior_wealth = 0
for i in range(20):
    year = i + 1
    wealth = finding_wealth(data, year, prior_wealth)
    print(f"Year {year}: ${wealth:,.2f}")
    prior_wealth = wealth

Year 1: $5,150.00
Year 2: $10,712.00
Year 3: $16,711.24
Year 4: $23,174.34
Year 5: $30,129.43
Year 6: $37,606.16
Year 7: $45,635.84
Year 8: $54,251.48
Year 9: $63,487.92
Year 10: $73,381.90
Year 11: $83,972.16
Year 12: $95,299.58
Year 13: $107,407.22
Year 14: $120,340.53
Year 15: $134,147.40
Year 16: $160,913.60
Year 17: $189,619.87
Year 18: $220,381.28
Year 19: $253,319.17
Year 20: $288,561.52

## Retirement

In [61]:
def find_retirement(data):
    prior_wealth = 0
    wealth = 0
    year = 0
    while wealth < data.desired_cash:
        year += 1
        wealth = finding_wealth(data, year, prior_wealth)
        prior_wealth = wealth
    print(f"They will retire in {year} years.")
    return year

In [62]:
find_retirement(data)

They will retire in 37 years.

37